---
import SITE from '~/utils/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import First from '~/assets/lottie/first.lottie';
import Second from '~/assets/lottie/second.lottie';
import Third from '~/assets/lottie/third.lottie';
import Fourth from '~/assets/lottie/fourth.lottie';
import Prize from '~/components/widgets/Prize.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'HackToFuture',
  description: SITE.description,
  ignoreTitleTemplate: true,
};
---
<Layout {metadata}>
  <Hero
  callToAction={{ text:"Register Now", icon: '', href: '#'}}>
  <Fragment slot="title">
    <img src="~/assets/images/hack-to-future.png" alt="HackToFuture">
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
    <span class="font-semibold">HackToFuture</span> is a 24 hour long hackathon, running from 25-26 April. Whether you are a seasoned professional or a newcomer to the tech world, HackToFuture is the perfect opportunity to showcase your skills, make new connections, and work towards a better future. Join us for an unforgettable 24-hour experience that will inspire you and propel you towards your goals!</span>
  </Fragment>
  </Hero>

<did id="about">
  <Content 
  title="About EG"
  descriptions={[
    'EG provides Nordic vertical software that enables customers to further develop their business. EG has more than 1,700 employees who primarily work at locations in the Nordic countries and at a joint development center in Poland. We develop, deliver and service our own software for more than 26,000 customers in the private and public sectors. Since 1978 we have brought enduring innovation year after year to the Scandinavian market within the industries, we serve.',
    'Vision - We enable our customers to become industry leaders.',
    'Mission - We build market leading vertical software.'
  ]}
  image={{src: "~/assets/images/eg-logo.svg", alt: "EG Logo"}}
  />
  <Content
  isAfterContent={true}
  isReversed={true}
  title="About SJEC"
  descriptions={[
    'St. Joseph Engineering College (SJEC), Mangaluru, established in 2002, is a premier educational institution and a hub for Creativity and Innovations in Engineering. SJEC is an autonomous institution accredited by the All India Council for Technical Education (AICTE), New Delhi, and affiliated with Visvesvaraya Technological University, Karnataka. The institution recently received an A+ grade from National Assessment and Accreditation Council. The National Board of Accreditation, New Delhi, has also granted accreditation to the institution\'s programs in CSE, ME, ECE, EEE, Civil engineering, and MBA. The sprawling lush green SJEC campus is located 10 Km away from the City of Mangalore and is known for its picturesque beauty. The innovation on campus is fueled by the SJEC-AICTE Idea Lab, supported by the Govt. of India, the NAIN Incubation Center, funded by the Karnataka government, and the FESTO Automation Lab. The Automation & Robotics Club, Terror Bull robotics, SJEC E-BAJA team, The sceptix club and auxiliary student clubs are cynosures for students to ideate and work on realizing them. The campus is a hub for innovators and SJEC students have made a mark for themselves in national and internal championships of repute.'
  ]}
  image={{src: "~/assets/images/sjec-logo-dark.png", alt: "SJEC Logo"}}
  />
</did>

<div id="themes">
  <Features
      title="Themes"
      subtitle="No problem is too big... and no idea is too small"
      items={[
       {
          title: 'Energy and Sustainability',
         description:
            'The world is facing unprecedented challenges related to the environment, and we believe that technology can play a crucial role in addressing these issues. This theme explores problems related to environmental issues (such as climate change), green technologies, energy conservation, renewable energy, reducing carbon emissions, and so on.',
          icon: First,
       },
       {
          title: 'Social Innovation',
         description:
            'This theme addresses social issues and the improvement of the well-being of people and communities. Participants can work on problems related to education, health, the environment, accessibility for disadvantaged groups, volunteering, safety, etc.',
          icon: Second,
       },
       {
         title: 'Finance',
         description:
           'Participants must come up with solutions related to banking, insurance, investment management, and financial technology (fintech). Some of the key challenges facing the finance sector today include improving customer experience, increasing financial Inclusion and literacy, and ensuring data privacy and security. ',
         icon: Third,
        },
        {
          title: 'Healthcare',
          description:
            'The healthcare sector is continually evolving and growing, and with it comes many challenges and potential for new technologies, such as analysing healthcare data, data management and security, digital healthcare assistants, telemedicine, improving healthcare accessibility.',
          icon: Fourth,
       }
      ]}>
  </Features>
</div>

<div id="prize">
  <Prize 
    title="₹ 1,60,000"
    subtitle="Win exciting goodies and cash prizes per theme."
  />
</div>

<div id="timeline">
  <Steps
    title="Timeline"
    items={[
      {
        title: '01 March 2023',
        description:
          'Registrations begin!',
      },
      {
        title: '10 March 2023',
        description:
          'Registrations close.',
      },
      {
        title: '15 - 20 March 2023',
        description:
          'Preliminary rounds take place.',
      },
      {
        title: '02 April 2023',
        description:
          'Shortlisted teams notified.',
      },
      {
        title: '25 - 26 April 2023',
        description:
          'Grand Hackathon!',
      },
    ]}
  />
</div>

<div id="faq">
  <FAQs
    title="Frequently Asked Questions"
    highlight="FAQ"
    items={[
      {
        title: 'What is the HackToFuture Hackathon?',
        description:
          'The HackToFuture hackathon is a 24 hour long coding event where students from all over Dakshina Kannada collaborate to work on and present solutions for problem statements based on certain themes.',
      },
      {
        title: 'Will the hackathon be an online or offline event?',
        description:
          'The preliminary rounds of the hackathon will be conducted online. The final event will be held in offline mode.',
      },
      {
        title: 'Who can participate?',
        description:
          'Hack2Future is open to all BE, B. Tech, BCA, MBA and MCA students from Udupi and Dakshina Kannada.',
      },
      {
        title: 'Do I have to pay to participate?',
        description:
          'Absolutely not! Participation is completely free.',
      },
      {
        title: 'What is the team size to participate in the hackathon?',
        description:
          'Participants can participate individually, or in teams of 2 or 3.',
      },
    ]}
  />
</div>
</Layout>
